<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <title>
    {{ site.title }} {% if page.title %} &middot; {{ page.title }} {% endif %}
  </title>

  <!-- Sitemap -->
  <link
    href="/sitemap.xml"
    rel="sitemap"
    title="Sitemap"
    type="application/xml"
  />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <!-- Fathom - beautiful, simple website analytics -->
  <script
    src="https://cdn.usefathom.com/script.js"
    data-site="JOYKGAUK"
    defer
  ></script>
  <!-- / Fathom -->

  <!-- RSS -->
  <link
    rel="alternate"
    type="application/atom+xml"
    title="riha feed"
    href="http://richardhallgren.com/feed"
  />
</head>
