<!doctype html>

<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body class="bg-bg-yellow font-mono px-4 py-4">
    <div class="mx-auto max-w-[650px]">
      <header>
        <div class="flex justify-center">
          <img
            src="/assets/riha-profile-image.jpeg"
            alt="Richard Hallgren"
            class="rounded-full w-32 border-profile-border shadow profile-image"
          >
        </div>
        <div class="mt-4 flex justify-center">RICHARD HALLGREN</div>
        <div class="flex justify-center items-center gap-2 text-text-subtle text-sm">
          <span>Developer</span>
          <span class="text-xs">•</span>
          <a class="underline" href="/cv/">CV</a>
        </div>
      </header>
      <main class="my-12">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
