<!doctype html>

<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body class="bg-bg-yellow flex justify-center font-mono py-4 px-4">
    <div class="max-w-[650px] doodles-light">
      <div class="">
        <div class="flex justify-center">
          <img
            src="/assets/riha-profile-image.jpeg"
            class="rounded-full w-32 border-profile-border shadow profile-image"
          >
        </div>
        <div class="mt-4" />
        <div class="flex justify-center ">RICHARD HALLGREN</div>
        <div class="my-2" />
        <div class="flex justify-center items-center text-text-subtle text-sm">Developer</div>
      </div>
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
