<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body class="bg-bg-yellow max-w-[650px]  font-mono  post-page px-4 py-4 " style="margin: 0 auto;" >
    <div class=" ">
      <div class="">
        <div class="flex justify-center">
          <a href="/">
            <img
              src="/assets/riha-profile-image.jpeg"
              class="rounded-full w-32 border-profile-border shadow profile-image"
            >
          </a>
        </div>
      </div>
      <div class="my-12"></div>

      <h1>{{ page.title }}</h1>
      <div class="my-1"></div>
      <div class="text-center text-text-subtle text-sm">{{ page.date | date: '%b %d, %Y' }}</div>
      
        {{ content }}
      
      {% include footer.html %}
    </div>
  </body>
</html>
