<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body class="bg-bg-yellow flex justify-center font-mono py-4 px-4 post-page">
    <div class="max-w-[750px]">
      <div class="">
        <div class="flex justify-center">
          <a href="/">
            <img
              src="/assets/riha-profile-image.jpeg"
              class="rounded-full w-32 border-profile-border shadow profile-image"
            >
          </a>
        </div>
      </div>
      <div class="my-12"></div>

      <h1>{{ page.title }}</h1>
      <div class="my-1"></div>
      <div class="text-center text-text-subtle text-sm">{{ page.date | date: '%b %d, %Y' }}</div>
      <div class=" my-12">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
